@font-face { 
  font-family: Din; 
  src: url('DINPro.OTF'); 
}

@font-face { 
  font-family: Din-light; 
  src: url('DINPro-Light.OTF'); 
}

h1 {
  font-family: Din-light;
  font-size: 26px;
}

h3 {
  font-family: Din;
  font-size: 80%;
}

.cardBorder {
  border-style: solid;
  border-width: 1px;
  height: 355;
  width: 202;
/*  Need to toggle this display using jquery .show() 
  display: none;*/
}

.container {
  height: 335px;
  width: 172px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
/*  border-style: solid;
  border-width: 1px;*/
}

.image {
  height: 172px;
  width: 172px;
  margin-left: -1px;
  margin-top: -1px;
}

.name {
  height: 20px;
  width: 172px;
  margin-top: 20px;
  text-align: center;
}

.question {
  height: 50px;
  width: 172px;
  border-top: 1px solid #D3D3D3;
  text-align: center;

}

.answer {
  height: 60px;
  width: 172px;
  border-style: solid;
  border-width: 1px;
}

img { 
  max-width: 100%; 
  height: auto; 
}

#generateButton {
  box-sizing: border-box;
  color: #00a2df;
  cursor: pointer;
  display: block;
  font-family: Din;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 19px;
  line-height:19px;
  text-align: center;
  text-indent: 0px;
}



