@font-face { 
  font-family: Din; 
  src: url('DINPro.OTF'); 
}

@font-face { 
  font-family: Din-light; 
  src: url('DINPro-Light.OTF'); 
}

body {
  background-color: #F9FAFB;
  -webkit-transition-property: background; 
  -webkit-transition-duration: 1s; 
  -webkit-transition-timing-function: ease-in;
  /*color: #087299;*/
  font-family: Din-light;
  margin: 0, auto; 
}

body.cardsShown {
  background-color: #262728;
  color: #00A2DF;
}

.mainTitle {
  font-size: 60px;
  padding-top: 20%;
  text-align: center;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/*
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1500;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c
    border-radius: 50%;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
}*/
/*.loader {
    border: 16px solid #F9FAFB;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cardBorder {
  border-style: solid;
  border-width: 1px;
  height: 355;
  width: 202;
  display: inline-block;
  margin: 10px;
/*  Need to toggle this display using jquery .show() 
  display: none;*/
}

.container {
  height: 335px;
  width: 172px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
/*  border-style: solid;
  border-width: 1px;*/
}

.image {
  height: 172px;
  width: 172px;
  margin-left: -1px;
  margin-top: -1px;
}

.name {
  height: 30px;
  width: 172px;
  text-align: center;
  font-family: Din-light;
  font-size: auto;
  padding-top: 10px;

}

.question {
  height: 30px;
  width: 172px;
  /*border-top: 1px solid #D3D3D3;*/
  text-align: center;
  font-family: Din;
  font-size: 75%;
  padding-top: 10px;
}

.border {
  border-top: 1px solid;
}

.answer {
  height: 70px;
  width: 172px;
  border-style: solid;
  border-width: 1px;
}

.lightBlue {
  color: #00A2DF;
}

.red {
  color: #D1344E;
}

.green{
  color: #17BC65;
}

.yellow {
  color: #F2BE24;
}

.viridian {
  color: #00B49D;
}

.indigo {
  color: #5E66F9;
}

.violet {
  color: #9A63F9;
}

.orange {
  color: #FF8500;
}

.navyBlue {
  color: #0024E4;
}

.magenta {
  color: #F20072;
}


img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border:1px solid #262728;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 26px;
  font-family: Din-light;
}

h3 {
  font-size: 70%;
}

#generateButton {
  padding-top: : 20px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #00a2df;
  cursor: pointer;
  font-family: Din;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height:19px;
  text-align: center;
  text-indent: 0px;
  /*display: inline-block;*/
  margin: auto;
  white-space: nowrap;
  display:block; /* change this from inline-block */
  width:20%; /* setting the width */
  margin:20px auto;
}



