@font-face { 
  font-family: Din; 
  src: url('DINPro.OTF'); 
}

@font-face { 
  font-family: Din-light; 
  src: url('DINPro-Light.OTF'); 
}

body {
  background-color: #F9FAFB;
  -webkit-transition-property: background; 
  -webkit-transition-duration: 1s; 
  -webkit-transition-timing-function: ease-in;
  /*color: #087299;*/
  font-family: Din-light;
  margin: 0, auto; 
}

body.cardsShown {
  background-color: #262728;
  color: #00A2DF;
}

.mainTitle {
  font-size: 60px;
}

.cardBorder {
  border-style: solid;
  border-width: 1px;
  height: 355;
  width: 202;
  display: inline-block;
/*  Need to toggle this display using jquery .show() 
  display: none;*/
}

.container {
  height: 335px;
  width: 172px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
/*  border-style: solid;
  border-width: 1px;*/
}

.image {
  height: 172px;
  width: 172px;
  margin-left: -1px;
  margin-top: -1px;
}

.name {
  height: 30px;
  width: 172px;
  text-align: center;
  font-family: Din-light;
  font-size: 26px;
}

.question {
  height: 50px;
  width: 172px;
  border-top: 1px solid #D3D3D3;
  text-align: center;
  font-family: Din;
  font-size: 80%;

}

.answer {
  height: 70px;
  width: 172px;
  border-style: solid;
  border-width: 1px;
}

img.portrait { 
  max-width: 100%; 
  height: auto; 
}

img.landscape {
  max-height: 100%
  width: auto;
}

#generateButton {
  box-sizing: border-box;
  color: #00a2df;
  cursor: pointer;
  /*display: block;*/
  font-family: Din;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  line-height:19px;
  text-align: center;
  text-indent: 0px;
  /*display: inline-block;*/
  margin: auto;
}



